<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/main.css" />
  <noscript><link rel="stylesheet" href="/static/noscript.css" href="assets/css/noscript.css" /></noscript>
  <title>Blogly</title>
</head>

<body> 
  <header id="header">
    <div class="inner">


      <!-- Nav -->
      <nav role="navigation" id="nav">
       
        <ul>
          <li><a class="navbar" id="navbar" href="/">Blogly</a></li>
          <li><a class="navbar" id="navbar" href="/users">User List</a></li>
          <li><a class="navbar" id="navbar" href="/new">New User</a></li>
        </ul>
        </ul> 
      </nav>

    </div>
  </header>
    <h1>{{ tag.name }}</h1>

    <ul>
      {% for post in posts %}
      <li><a href="/post/{{ post.id }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
    
    <form>
      <button formmethod="GET"
              formaction="/tags/{{ tag.id }}/edit"
              class="btn btn-primary">Edit
      </button>
      <button formmethod="POST"
              formaction="/tags/{{ tag.id }}/delete"
              class="btn btn-danger">Delete
      </button>
    </form>
</body>
</html>